<!DOCTYPE html>
<html>
<head>
    <title>Listado de Oficinas</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <h1>Oficinas</h1>
    <table>
        <thead>
            <tr>
                <th>Número</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Ciudad</th>
            </tr>
        </thead>
        <tbody>
            {% for oficina in oficinas %}
                <tr>
                    <td>{{ oficina.numero }}</td>
                    <td>{{ oficina.nombre }}</td>
                    <td>{{ oficina.direccion }}</td>
                    <td>{{ oficina.ciudad }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><a href="{{ path('app_inicio') }}">Volver al Inicio</a>
</body>
</html>
